:root {
  --main-bg: #232946;
  --main-accent: #ffb4e6;
  --main-mint: #a7ffe7;
  --main-yellow: #ffe066;
  --main-indigo: #5f6caf;
  --main-white: #fffbe7;
  --main-blue: #229ed9;
  --main-steam: #171a21;
  --main-spotify: #1db954;
} 